body {
    background: #efefef;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.topNavBar {
    color: rgb(183, 183, 183);
    margin-top: 15px;
    margin-left: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar>.logo {
    margin-top: 5px;
    float: left;
}

.topNavBar>.menu {
    float: right;
}

.menu>ul {
    margin-right: 17px;
}

.menu>ul>li {
    float: left;
    font-weight: bold;
    font-size: 12px;
    list-style-type: none;
    margin-left: 17px;
    margin-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.menu>ul>li:hover {
    border-bottom: 3px solid #e06567;
}

.logo {
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}

.logo>.logoLeft {
    margin-right: 4px;
    color: #e6686a;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a.logo {
    display: block;
}

.banner {
    height: 515px;
    background-image: url(./img/banner.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7)
}

.userCard {
    max-width: 940px;
    margin-top: -340px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.pictureAndText {
    padding: 50px;
}

.picture {
    float: left;
}

.text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.welcome {
    padding: 4px 16px;
    background-color: rgb(230, 104, 106);
    display: inline-block;
    color: white;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 4px;
    border: 5px solid transparent;
    border-left-color: rgb(230, 104, 106);
    border-top-color: rgb(230, 104, 106);
}

.text h1 {
    margin-top: 18px;
}

.text hr {
    margin: 20px 0;
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd,
.userCard dl dt {
    float: left;
    padding: 5px 0;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.media {
    background: #E6686A;
    text-align: center;
}

footer.media>a {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 16px;
}

footer.media>a:hover {
    background: #cf5d5f
}

.downloadResume {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.downloadResume-wrapper {
    text-align: center;
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills>h2,
section.portfolio>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.skills>ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

section.skills .progressBar>.progress {
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}

section.portfolio {
    text-align: center;
    margin-bottom: 100px;
}

section.portfolio>nav {
    text-align: center;
}

section.portfolio>nav>ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfolio>nav>ol>li:first-child {
    margin-left: 0;
}

section.portfolio>nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

section.portfolio>nav .bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works {
    position: relative;
}

section.portfolio .works>.big,
section.portfolio .works>.small {
    position: absolute;
}